/*********************** GENERAL ****************************/

/* reset */
 *{
  margin: 0;
  padding: 0;
}

main, footer{
  margin-left: 20px;
  margin-right: 20px; 
}

strong{
  color: #6cb0ff;
}

span{
  background-color: yellow;
}

thead{
  background-color: #23a9e5;
}

th{
  color: white;
  text-align: left;
  width: 20%;
}

table{
  margin-bottom: 40px;
  border-spacing: 0px;
}
/********************** HEADER ********************************/

header{
  background-color: rgb(78,160,255);
  background-image: url(../img/pattern.png);
  background-size: 500px,100px;
  height: 100px;

}

header img{
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 12%;
  height: 50%;
}


/************************ MAIN  ****************************************/

main{
  margin-top: 16px;
}

.color-p{
  color: #979898;
  margin-top: 4px;
  margin-bottom: 4px;
}

.container-intro p{
  font-size: 0.8rem;
}

.section-margin{
  margin: 20px  0px;
}

.div-margin{
  margin: 20px;
}

.color-blue{
  background-color: #b1e5f2;
}

/********************************* FOOTER  *************************/

/* .sfondo{
  position: relative;
  color: white;
  margin-bottom: 20px;
} */

/* footer h4{
  position: absolute;
  top: 16px;
  left: 16px;
} */

footer .sfondo{
  width: 290px;
  height: 190px;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  background-size: cover;
}

#monitor{
  background-image: url(../img/monitor.jpg);
}

#grafico{
  background-image: url(../img/graph.jpg);

}
