/*********************** GENERAL ****************************/

/* reset */
 *{
  margin: 0;
  padding: 0;
}

/* body{
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
} */

strong{
  color: #6cb0ff;
}

spam{
  background-color: yellow;
}

thead{
  background-color: #23a9e5;
}

th{
  color: white;
}


/********************** HEADER ********************************/

header{
  background-color: rgb(78,160,255);
  background-image: url(../img/pattern.png);
  height: 100px;

}

header img{
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 12%;
  height: 50%;
}


/************************ MAIN  ****************************************/

main{
  margin-top: 16px;
  margin-left: 10px;
}

.color-p{
  color: #979898;
  margin-top: 4px;
  margin-bottom: 4px;
}

.container-intro p{
  font-size: 0.8rem;
}

.section-margin{
  margin: 20px  0px;
}

.div-margin{
  margin: 20px;
}

.color-blue{
  background-color: #b1e5f2;
}